ConsoleProject/Connected Services/HelloWCFService/HelloWCF.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="HelloWCF" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:57321/WebControls/HelloWCF.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:57321/WebControls/HelloWCF.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IHelloWCF_GetProductName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProductName" />
  </wsdl:message>
  <wsdl:message name="IHelloWCF_GetProductName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductNameResponse" />
  </wsdl:message>
  <wsdl:message name="IHelloWCF_GetProductNameByID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProductNameByID" />
  </wsdl:message>
  <wsdl:message name="IHelloWCF_GetProductNameByID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductNameByIDResponse" />
  </wsdl:message>
  <wsdl:portType name="IHelloWCF">
    <wsdl:operation name="GetProductName">
      <wsdl:input wsaw:Action="http://tempuri.org/IHelloWCF/GetProductName" message="tns:IHelloWCF_GetProductName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHelloWCF/GetProductNameResponse" message="tns:IHelloWCF_GetProductName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProductNameByID">
      <wsdl:input wsaw:Action="http://tempuri.org/IHelloWCF/GetProductNameByID" message="tns:IHelloWCF_GetProductNameByID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHelloWCF/GetProductNameByIDResponse" message="tns:IHelloWCF_GetProductNameByID_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IHelloWCF" type="tns:IHelloWCF">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetProductName">
      <soap:operation soapAction="http://tempuri.org/IHelloWCF/GetProductName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductNameByID">
      <soap:operation soapAction="http://tempuri.org/IHelloWCF/GetProductNameByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HelloWCF">
    <wsdl:port name="BasicHttpBinding_IHelloWCF" binding="tns:BasicHttpBinding_IHelloWCF">
      <soap:address location="http://localhost:57321/WebControls/HelloWCF.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>